@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #F0F0F2;
    --color2: #274001;
    --color3: #3E5902;
    --color4: #798C35;
    --color5: #A67A44;
    --color6: #3a435d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(to right, var(--color6), #505566);
}

#sidebar {
    position: fixed;
    background-color: var(--color1);
    box-shadow: 0px 1px 5px #000000;
    top: 0;
    left: 0;
    width: 100vw;
}

#sidebar #logo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#sidebar #logo-menu #logo {
    font-size: 2em;
    color: #000000;
    pointer-events: none;
}

#sidebar #logo-menu .toggle-btn {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
}

#sidebar #list {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    list-style: none;
    border-radius: 0 0 7px 7px;
    background-color: var(--color1);
    padding: 0 5px 0 5px;
}

#list .list-item {
    margin-top: 2px;
    padding: 9px;
    width: 100vw;
}

#list .list-item a {
    text-align: justify;
    width: 100vw;
    color: #000000;
    font-size: 1.1em;
    text-decoration: none;
}

#list .list-item a::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    
}

section {
    margin-top: 20%;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}