@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #3a4359;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body {
    background-image: linear-gradient(to right, #3a4359, #50545e);
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    padding: 15px;
}

#burger-menu {
    position: fixed;
    right: 20px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    color: var(--color1);
}

#menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}

#menu-mobile a {
    text-decoration: none;
    color: #000000;
}

#menu-mobile li {
    list-style: none;
    position: relative;
    font-size: 1.1em;
    margin-left: 20px;
    border: 0;
}

#menu-mobile li::after {
    content: '';
    position: absolute;
    left: 0;
    width: 90%;
    height: 3px;
    top: 30px;
    background-color: #000000;
    transform: scaleX(1);
    transition: .5s;
}

#menu-mobile .link-name {
    margin-top: 30px;
}

#menu-mobile h1 {
    text-align: justify;
}

#flag-menu {
    position: fixed;
    left: 20px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: var(--color1);
}

#flag-img {
    position: fixed;
    top: 23px;
    height: 40px;

    animation-name: flags-img;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes flags-img{
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}

#menu-country {
    display: none;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    height: 80vh;
    width: 100vw;
}

#menu-country a {
    text-decoration: none;
    color: #000000;
}

#menu-country li {
    list-style: none;
    position: relative;
    font-size: 1.1em;
    border: 0;
    left: 60px;
}

#menu-country li::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    top: 30px;
    left: 0;
    background-color: #000000;
    transform: scaleX(1);
}

#menu-country ul {
    margin-top: 10%;
}

#menu-country h1 {
    text-align: justify;
    padding: 20px;
}

.close-btn {
    position: fixed;
    font-size: 30px;
    top: 30px;
    right: 20px;
    cursor: pointer;
    color: var(--color1);
}

.link-flag {
    margin: 50px 0 50px;
}

.flags {
    position: fixed;
    left: 10px;
    height: 40px;
}

#sociais {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 20px;
    font-size: 25px;
    height: 40px;
    width: 100vw;
}

/*
    DESKTOP
*/

#menu-desktop{
    display: none;
}

#box{
    display: none;
}